language: node_js

node_js:
  - "stable"
  - "lts/*"

branches:
  only:
    - dev

cache:
  directories:
  - node_modules

before_script:
  - "npm i -g gatsby-cli"
  - "yarn"

script:
  - gatsby build