.post-page-main {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    width: 90%;
}




@media only screen and (max-width: 850px) {
 .sidebar{display: none;}
 .post-page-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}