.sidebar-main {
    width: 100%;
    
}

.side-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-links {
    margin-top: 3rem;
    padding-top: 4rem;
    font-family: "Raleway";
}


.profile-img {
     border-radius: 50%;
     box-shadow: 1px 1px 3px;
}

small, h3, p {
    font-family: 'Raleway';
    
}

.author-bio {
    font-size: 2vw;
}

